<div class="flex flex-col space-y-10 my-10">
  <div class="about-me-sub-component">
    <div class="about-me-sub-component-header">
      <h1 class="header-text">About Me</h1>
    </div>
    <div class="about-me-sub-component-content">
      <p>
        Since enrolling in an <u>Information Technology</u> diploma course in
        2018, I have been honing my coding skills and steadily improving ever
        since.
      </p>
      <p>
        I have taken part and led in some hackathons, which have consistently
        aided my learning, problem-solving, and collaborative skills. I am now
        adept at
        <u>analysing and breaking down complex tasks into smaller components</u
        >, which I can assign to my team members. Additionally, I am proficient
        in <u>effectively communicating with my team</u> to ensure success in
        achieving our goals.
      </p>
      <p>
        My primary focuses these days have been developing application with
        <u>React</u> and <u>NodeJS</u>, as these technologies are preferred
        among the teams I have worked with.
      </p>
      <p>
        However, my interest prior to participating in hackathons lies in
        <u>.NET back-end development</u>. My current goal is to integrate
        ASP.NET into my future projects and improve on my back-end development
        skills.
      </p>
    </div>
  </div>
  <div class="about-me-sub-component flex-col-reverse md:flex-row">
    <div class="about-me-sub-component-content md:text-right">
      <p>
        I graduated from Singapore Polytechnic in 2022 with a
        <u>Diploma in Information Technology</u> specializing in Software
        Engineering.
      </p>
      <ul
        class="list-outside list-disc space-y-2 ltr text-left md:text-right md:rtl"
      >
        <li>ATM GUI app using <u>Java</u> AWT</li>
        <li>Data scrapping using <u>Python</u> with NumPy</li>
        <li>Mortgage calculator of property using <u>HTML</u> & <u>JS</u></li>
        <li>
          Social Media app with CRUD using <u>HTML</u>, <u>JS</u> &
          <u>SQLite</u>
        </li>
        <li>Machine learning with <u>Knime</u></li>
      </ul>
    </div>
    <div class="about-me-sub-component-header md:text-left pb-5">
      <h3 class="sub-header-text">Education</h3>
    </div>
  </div>

  <div class="about-me-sub-component">
    <div class="about-me-sub-component-header">
      <h3 class="sub-header-text">Work Experience</h3>
    </div>
    <div class="about-me-sub-component-content">
      <p>I was a QA Engineer at CrimsonLogic from Sept 2021 to Sept 2022.</p>
      <ul class="list-outside list-disc space-y-2 text-left">
        <li>
          Write <u>test scenarios</u> and <u>test cases</u> for newly
          implemented features in the application
        </li>
        <li>
          Write/debug automated testing scripts which uses <u>C#</u> with
          <u>Selenium</u> framework.
        </li>
        <li>
          <u>Guide new interns and junior testers</u> attached to the project.
        </li>
      </ul>
    </div>
  </div>
</div>
