<div class="h-screen flex flex-col">
  <div class="flex-1 flex flex-col justify-center space-y-2">
    <h1 class="text-tertiary text-5xl">HELLO WORLD_</h1>
    <span class="ml-2">> I am Looi Yen</span>
    <span class="ml-2">> I enjoy coding</span>
  </div>

  <div class="flex-initial h-14 self-center flex flex-col items-center">
    <div class="text-2xl">Next();</div>
    <img
      ngSrc="assets/images/down-arrow.png"
      width="20"
      height="20"
      alt="down-arrow"
      priority
    />
  </div>
</div>
