<div class="h-screen flex flex-col">
  <div class="flex-1 flex flex-col justify-center text-center space-y-2">
    <h1 class="header-text">Hello,</h1>
    <h1 class="header-text">I'm Looi Yen</h1>
    <span> I am a full-stack developer</span>
    <figure class="w-full animate-bounce p-10">
      <img
        class="object-scale-down m-auto"
        ngSrc="assets/images/logo2.png"
        alt="Shoes"
        height="100"
        width="100"
        priority
      />
    </figure>
    <p class="absolute left-0 bottom-0 text-center w-full text-xs">
      This site was built with Angular & Tailwind CSS
    </p>
  </div>
</div>
