<div class="h-24 flex py-5">
  <div class="flex-none relative w-20">
    <a class="home-link" href="#">
      <img
        class="object-scale-down"
        ngSrc="assets/images/site-logo.png"
        alt="site logo"
        fill
        priority
      />
    </a>
  </div>
  <div class="flex-1"></div>
  <div class="py-4 flex-none flex w-32 sm:w-40 md:w-48">
    <div class="flex-1 relative">
      <a class="github-link" href="https://github.com/lly02" target="_blank">
        <img
          class="object-scale-down"
          ngSrc="assets/images/github.png"
          alt="github"
          fill
          priority
        />
      </a>
    </div>
    <div class="flex-1 relative">
      <a class="resume-link" href="assets/misc/resume.pdf" target="_blank">
        <img
          class="object-scale-down"
          ngSrc="assets/images/resume.png"
          alt="resume"
          fill
          priority
        />
      </a>
    </div>
    <div class="flex-1 relative">
      <a class="email-link" href="mailto:lly.02@outlook.com" target="_blank">
        <img
          class="object-scale-down"
          ngSrc="assets/images/email.png"
          alt="email"
          fill
          priority
        />
      </a>
    </div>
  </div>
</div>
