<app-nav></app-nav>

<!-- <div class="introduction">
  <h1></h1>
  <span>> I am Looi Yen</span>
  <span>> I enjoy coding</span>

  <span class="introduction-next">
    Next();
    <img ngSrc="/assets/images/down-arrow.png" alt="down-arrow" />
  </span>
</div>

<div class="about-me">
  <div class="header">
    <button type="button" class="previous" onclick="aboutMeIter('previous')">
      --
    </button>
    <h1 class="about-me-value">AboutMe[0]</h1>
    <button type="button" class="next" onclick="aboutMeIter('next')">++</button>
  </div>
  <div class="about">
    <div class="education carousel-fade">
      <h3>Education</h3>
      <img ngSrc="src/images/sp-logo.png" alt="sp-logo" />
      <p>
        I graduated from Singapore Polytechnic in 2022 with a Diploma in
        Information Technology specializing in Software Engineering.
      </p>
      <div class="education-projects">
        <span><u>Some projects I did:</u></span>
        <ul>
          <li>ATM GUI app using <b>Java</b> AWT</li>
          <li>Website traffic tracker using <b>HTML</b> & <b>JS</b></li>
          <li>Data scrapping using <b>Python</b> with NumPy</li>
          <li>Mortgage calculator of property using <b>HTML</b> & <b>JS</b></li>
          <li>
            Social Media app with CRUD using <b>HTML</b>, <b>JS</b> &
            <b>SQLite</b>
          </li>
          <li>Machine learning with <b>Knime</b></li>
        </ul>
      </div>
    </div>

    <div class="work-experience carousel-fade">
      <h3>Work Experience</h3>
      <img ngSrc="src/images/crimsonlogic.png" alt="crimsonlogic-logo" />
      <p>I was a QA Engineer at CrimsonLogic from Sept 2021 to Sept 2022.</p>
      <div class="work-responsibility">
        <span><u>My work responsibilities:</u></span>
        <ul>
          <li>
            Write <b>test scenarios</b> and <b>test cases</b> for newly
            implemented features in the application
          </li>
          <li>
            Write/debug automated testing scripts which uses <b>C#</b> with
            Selenium scripting.
          </li>
          <li>
            <b>Guide new interns and junior testers</b> attached to the project.
          </li>
        </ul>
      </div>
    </div>

    <div class="skill carousel-fade">
      <h3>Other skills</h3>
      <div class="skill-list">
        <span>
          <p>
            <u>Some skills I have acquired through passion projects: </u>
          </p>
        </span>
        <ul>
          <li>Git</li>
          <li>Discrete math</li>
          <li>Javascript Canvas Animation</li>
          <li>Python Tkinter</li>
          <li>Python console application</li>
          <li>C# .Net</li>
          <li>C# EF Core</li>
          <li>Working with API</li>
          <li>Working with Webhooks</li>
          <li>and many more...</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="contact">
  <div class="contact-header">
    <h3>Contact me!</h3>
  </div>
  <div class="my-contacts">
    <div>
      <label>Email: </label>
      <a href="mailto:lly.02@outlook.com">lly.02@outlook.com</a>
    </div>
    <div>
      <label>HP: </label>
      <span>+65 8375 3490</span>
    </div>
  </div>
</div> -->
