<div class="flex flex-col space-y-5">
  <h1 class="header-text text-center">Projects</h1>
  <p class="text-center">
    Selected projects i've done, more on my
    <a href="https://github.com/lly02" target="_blank">Github</a>
    profile!
  </p>
  <div class="md:flex md:space-x-5">
    <div class="md:flex-1 md:space-y-5 md:p-0 p-5 space-y-5">
      <div class="daisy-card p-5">
        <figure>
          <img
            class="object-scale-down rounded-lg shadow-lg"
            ngSrc="assets/images/bank-app.png"
            alt="Shoes"
            height="100"
            width="375"
            priority
          />
        </figure>
        <div class="daisy-card-body">
          <h2 class="daisy-card-title">Bank App</h2>
          <p>
            A bank app with core functionalities such as transferring money and
            creating bank accounts, with a full backend attached with tRPC and
            Postgres to store the accounts and transactions.
          </p>
          <p>
            <a
              href="https://github.com/Hack-Weekly/onyx-salamander-bank-app"
              target="_blank"
              >Source</a
            >
          </p>
          <p>
            <a
              href="https://onyx-salamander-bank-app-h7p8.vercel.app/"
              target="_blank"
              >Demo</a
            >
          </p>
          <div class="daisy-card-actions justify-end">
            <div class="daisy-badge daisy-badge-neutral">NEXT.JS</div>
            <div class="daisy-badge daisy-badge-neutral">REACT</div>
            <div class="daisy-badge daisy-badge-neutral">DRIZZLE</div>
            <div class="daisy-badge daisy-badge-neutral">TRPC</div>
            <div class="daisy-badge daisy-badge-neutral">TAILWIND CSS</div>
            <div class="daisy-badge daisy-badge-neutral">POSTGRES</div>
            <div class="daisy-badge daisy-badge-neutral">VERCEL</div>
          </div>
        </div>
      </div>
      <div class="daisy-divider px-20"></div>
      <div class="daisy-card p-5">
        <figure>
          <img
            class="object-scale-down rounded-lg shadow-lg"
            ngSrc="assets/images/calorie-tracker.png"
            alt="Shoes"
            height="100"
            width="200"
            priority
          />
        </figure>
        <div class="daisy-card-body">
          <h2 class="daisy-card-title">Calorie Tracker</h2>
          <p>
            An app that shows the nutrition facts of any recipe scraped from a
            website, users can adjust based on portion size inputs.
          </p>
          <p>
            <a
              href="https://github.com/lly02/my-projects/tree/main/applications/calorie-tracker"
              target="_blank"
              >Source</a
            >
          </p>
          <div class="daisy-card-actions justify-end">
            <div class="daisy-badge daisy-badge-neutral">PYTHON</div>
            <div class="daisy-badge daisy-badge-neutral">TKINTER</div>
          </div>
        </div>
      </div>
      <div class="daisy-divider px-20"></div>
      <div class="daisy-card p-5">
        <figure>
          <img
            class="object-scale-down rounded-lg shadow-lg"
            ngSrc="assets/images/p2p-screenshare.png"
            alt="Shoes"
            height="100"
            width="375"
            priority
          />
        </figure>
        <div class="daisy-card-body">
          <h2 class="daisy-card-title">P2P Screen Share</h2>
          <p>
            A prototype made by me to learn about P2P techniques such as
            websocket, ICE, STUN & TURN. I also learnt about optimizing with C++
            interop, it was used to optimize the image drawing algorithm in this
            project.
          </p>
          <p>
            <a href="https://github.com/lly02/ScreenShare" target="_blank"
              >Source</a
            >
          </p>
          <div class="daisy-card-actions justify-end">
            <div class="daisy-badge daisy-badge-neutral">C#</div>
            <div class="daisy-badge daisy-badge-neutral">WPF</div>
            <div class="daisy-badge daisy-badge-neutral">P2P</div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="daisy-divider md:daisy-divider-horizontal md:py-20 md:px-0 px-20"
    ></div>
    <div class="md:flex-1 md:space-y-5 md:p-0 p-5 space-y-5">
      <div class="daisy-card p-5">
        <figure>
          <img
            class="object-scale-down rounded-lg shadow-lg"
            ngSrc="assets/images/sudoku.png"
            alt="sudoku"
            height="100"
            width="200"
            priority
          />
        </figure>
        <div class="daisy-card-body">
          <h2 class="daisy-card-title">Sudoku Game</h2>
          <p>
            A sudoku game app made by my team to showcase solving sudoku using
            backtracking algorithm. For each generated puzzle based on the
            difficulty, there is a guarantee of a unqiue solution.
          </p>
          <p>
            <a
              href="https://github.com/lly02/sage-giraffe-sudoku"
              target="_blank"
              >Source</a
            >
          </p>
          <p>
            <a
              href="https://hack-weekly.github.io/sage-giraffe-sudoku/"
              target="_blank"
              >Demo</a
            >
          </p>
          <div class="daisy-card-actions justify-end">
            <div class="daisy-badge daisy-badge-neutral">REACT</div>
            <div class="daisy-badge daisy-badge-neutral">ALGORITHM</div>
          </div>
        </div>
      </div>
      <div class="daisy-divider px-20"></div>
      <div class="daisy-card p-5">
        <figure>
          <img
            class="object-scale-down rounded-lg shadow-lg"
            ngSrc="assets/images/sportz-life-admin.png"
            alt="sportz-life-admin"
            height="100"
            width="400"
            priority
          />
        </figure>
        <div class="daisy-card-body">
          <h2 class="daisy-card-title">Sports Center Admin Page</h2>
          <p>
            An adminstrative tracking site for a sports center. My contributions
            was OAuth login, CRUD of new coaches into the center and the forms
            of the site.
          </p>
          <p>
            <a
              href="https://github.com/vnallamhawk/sportz-life-admin"
              target="_blank"
              >Source</a
            >
          </p>
          <p>
            <a href="https://sportz-life-admin.vercel.app/" target="_blank"
              >Demo</a
            >
          </p>
          <div class="daisy-card-actions justify-end">
            <div class="daisy-badge daisy-badge-neutral">NEXT.JS</div>
            <div class="daisy-badge daisy-badge-neutral">NEXTAUTH.JS</div>
            <div class="daisy-badge daisy-badge-neutral">PRISMA</div>
            <div class="daisy-badge daisy-badge-neutral">MYSQL</div>
            <div class="daisy-badge daisy-badge-neutral">TRPC</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
