<div class="flex flex-col space-y-5">
  <h1 class="header-text text-center">Projects</h1>
  <p class="text-center">
    Selected projects i've done, more on my Github profile!
  </p>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
    <div class="daisy-card bg-secondary shadow-xl p-5">
      <figure>
        <img
          class="object-scale-down rounded-lg"
          ngSrc="assets/images/bank-app.png"
          alt="Shoes"
          height="100"
          width="375"
          priority
        />
      </figure>
      <div class="daisy-card-body">
        <h2 class="daisy-card-title">Bank App</h2>
        <p>
          A bank app with core functionalities such as transferring money and
          creating bank accounts, with a full backend attached with tRPC and
          Postgres to store the accounts and transactions.
        </p>
        <p>
          <a
            href="https://github.com/Hack-Weekly/onyx-salamander-bank-app"
            target="_blank"
            >Source</a
          >
        </p>
        <p>
          <a
            href="https://onyx-salamander-bank-app-h7p8.vercel.app/"
            target="_blank"
            >Demo</a
          >
        </p>
        <div class="daisy-card-actions justify-end">
          <div class="daisy-badge daisy-badge-neutral">NEXT.JS</div>
          <div class="daisy-badge daisy-badge-neutral">REACT</div>
          <div class="daisy-badge daisy-badge-neutral">DRIZZLE</div>
          <div class="daisy-badge daisy-badge-neutral">TRPC</div>
          <div class="daisy-badge daisy-badge-neutral">TAILWIND CSS</div>
          <div class="daisy-badge daisy-badge-neutral">POSTGRES</div>
          <div class="daisy-badge daisy-badge-neutral">VERCEL</div>
        </div>
      </div>
    </div>
    <div class="daisy-card bg-secondary shadow-xl p-5">
      <figure>
        <img
          class="object-scale-down rounded-lg"
          ngSrc="assets/images/sudoku.png"
          alt="Shoes"
          height="100"
          width="200"
          priority
        />
      </figure>
      <div class="daisy-card-body">
        <h2 class="daisy-card-title">Sudoku Game</h2>
        <p>
          A sudoku game app made by my team to showcase solving sudoku using
          backtracking algorithm. For each generated puzzle based on the
          difficulty, there is a guarantee of a unqiue solution.
        </p>
        <p>
          <a href="https://github.com/lly02/sage-giraffe-sudoku" target="_blank"
            >Source</a
          >
        </p>
        <p>
          <a
            href="https://hack-weekly.github.io/sage-giraffe-sudoku/"
            target="_blank"
            >Demo</a
          >
        </p>
        <div class="daisy-card-actions justify-end">
          <div class="daisy-badge daisy-badge-neutral">REACT</div>
          <div class="daisy-badge daisy-badge-neutral">ALGORITHM</div>
        </div>
      </div>
    </div>
    <div class="daisy-card bg-secondary shadow-xl p-5">
      <figure>
        <img
          class="object-scale-down rounded-lg"
          ngSrc="assets/images/calorie-tracker.png"
          alt="Shoes"
          height="100"
          width="200"
          priority
        />
      </figure>
      <div class="daisy-card-body">
        <h2 class="daisy-card-title">Calorie Tracker</h2>
        <p>
          An app that shows the nutrition facts of any recipe scraped from a
          website, users can adjust based on portion size inputs.
        </p>
        <p>
          <a
            href="https://github.com/lly02/my-projects/tree/main/applications/calorie-tracker"
            target="_blank"
            >Source</a
          >
        </p>
        <div class="daisy-card-actions justify-end">
          <div class="daisy-badge daisy-badge-neutral">PYTHON</div>
          <div class="daisy-badge daisy-badge-neutral">TKINTER</div>
        </div>
      </div>
    </div>
  </div>
</div>
